body {
    width: 100vw;
    padding: 35px 0 55px 0;
    position: relative;
    font-family: 'TT Hoves';
    /* background-color: var(--tg-theme-bg-color); */
    background-color: #fff;
    /* color: var(--tg-theme-text-color); */
    color: #333;
    margin: 0;
}
button {
    /* background-color: var(--tg-theme-button-color); */
    background-color: #fff;
    /* color: var(--tg-theme-button-text-color); */
    /* color: var(--tg-theme-button-text-color); */
    cursor: pointer;
}
h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 35px;
}

.startTextImgSl img{
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
}

.logoImg {
    width: 114px;
    height: 17px;
    margin-bottom: 37px;
    margin-left: 5vw;
}

.userBlockName {
    position: absolute;
    top: 34px;
    right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
}
.bigImg {
    width: 247px;
    height: 171px;
}
.bigImgImgImgImgImg {
    display: flex;
    justify-content: center;

}
.win_One, .winTwo, .winMain, .exercises, .windowDivEnd{
    width: 90vw;
    margin: 0 auto;
}
.exercises {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* window2 */

.winTwoFlex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.winTwoBox {
    width: 100%;
    text-align: left;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 1em;
    border: 2px solid #AEB4C2;
    background-color: #ffffff;
    color: #333333;
}
.activeButton {
    background-color: #3274FF;
    border: 2px solid #3274FF;
    color: #ffffff;
}

.winTwoBox img{
    width: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}



/* wimdow3 */
.winMain p{
    margin: 0;
}
.winMain h2 {
    margin: 0;
}
.completeProgressMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.progressMain {
    font-size: 20px;
    line-height: 24px;  
    padding: 10px 17px;
    border: 2px solid black;
    border-radius: 1em;
}
.infoMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.btnMainOrder {
    display: flex;
    gap: 3px;
}
.none {
    display: none;
}



.trueBar {
    background-color: #3274FF;
    border: 2px solid #3274FF;
    color: #FFFFFF;
}
.wrongBar {
    background-color: #FD4E5D;
    border: 2px solid #FD4E5D;
    color: #FFFFFF;
}
.activeBar {
    background-color: #78BAF5;
    border: 2px solid #78BAF5;
    color: #FFFFFF;
}
.emptyBar {
    background-color: #FFFFFF;
    border: 2px solid #AEB4C2;
}


.windowDivThree .btnMainOrder {
    display: flex;
    justify-content: space-around;
}
.btnMainOrder button{
    width: 61px;
    height: 39px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: 0;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* color: var(--tg-theme-text-color); */
}
.btnMainOrder button:hover {
    background-color: #78BAF5; 
    color: white; 
    border: 2px solid #008CBA;
}
.btnMainOrder div{
    margin-top: 8px;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: 0;
    text-decoration: none;
    text-transform: none;
    /* color: var(--tg-theme-text-color); */
}

/* exOne */

.ex button {
    height: 8px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.ex p{
    margin: 0;
}

/* input{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid grey;
    padding: 2px 5px;

}
input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
} */

/* .exTwo  */
.exAnswers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.exAnswers button {
    width: 280px;
    height: 48px;
    text-align: left;
    padding-left: 10px;
    border-radius: 1em;
    margin: 0 auto;
}

/* .exAnswers.three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
}
.exAnswers.three button {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 75.6364px;
    line-height: 150%;
    text-transform: uppercase;
} */

.exFoutCheckNumb {
    display: flex;
    justify-content: space-between;
}

/* .exAnswers.four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
}
.exAnswers.four button{
    width: 70px;
    height: 70px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border-radius: 10px;
} */

.boxFive img{
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: 1px solid grey;
    padding: 13px;
    margin-top: 5px;
    border-radius: 5px;
}

.startTextImgSl.end {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.startTextImgSl.end p{
    margin: 0;
}
.blockP {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}


.toExercises {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #AEB4C2;
    padding: 10px 14px;
    border-radius: 10px;
    width: 101px;
    margin-bottom: 12px;
    cursor: pointer;
}
.toExercises img {
    width: 7px;
    height: 14px;
}
.toExercises span {
    margin-bottom: 3px;
}
/* .pushFile {
    display: flex;
    justify-content: space-between;
} */